.footer_container

    .foot-left
        p.foot-help ¿Necesitas ayuda?
        .contact-information
            .foot-email
                span.icon-email 
                p atencionalcliente@securainsurance.com

            .foot-phone
                span.icon-contact
                p 900 926 676

        .foot-legal-information
            p Política de cookies 
            p Aviso legal 
            p Política de privacidad
        
    .foot-right
        p SECURA INSURANCE ESPAÑA, S.A.U
        p Calle Ribera del Loira 46, Madrid, 28042

        .foot-copyright 
            p © 2022 SecuraInsurance



    